<script type="text/x-red" data-help-name="pd-ctrl">
</script>

<script type="text/x-red" data-template-name="pd-ctrl">
    <div class="form-row">
        <label for="node-input-dsoMode"><i class="fa fa-random"></i> Mode</label>
        <input type="text" id="node-input-dsoMode">
    </div>
    <div class="form-row">
        <label for="node-input-cmd"><i class="fa fa-random"></i> Command</label>
        <input type="text" id="node-input-cmd">
    </div>
    <div class="form-row para-item">
        <label for="node-input-para"><i class="fa fa-random"></i> Parameter</label>
        <input type="text" id="node-input-para" placeholder="1E-1">
    </div>
    <div class="form-row chnum-item">
        <label for="node-input-chnum"><i class="fa fa-random"></i> Ch Source</label>
        <input type="text" id="node-input-chnum" placeholder="1">
    </div>
    <div class="form-row">
        <label for="node-input-queryID"><i class="fa fa-random"></i>Query ID</label>
        <input type="text" id="node-input-queryID">
    </div>    
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-random"></i> Name</label>
        <input type="text" id="node-input-name">
    </div>
</script>

<script type="text/javascript">
    RED.nodes.registerType('pd-ctrl',{
        category: 'partial discharge',
        defaults: {
          dsoMode: {value:"DAQ",required:true},
          cmd: {value:"SET_DSO_MODE",required:true},
          para: {value:""},
          chnum: {value:""},
          queryID: {value:""},
          name: {value:""}
        },
        color:"#FFF0F0",
        inputs:1,
        outputs:1,
        icon: "myicon.png",
        label: function() {
            return this.name||"pd-ctrl";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },
        oneditprepare: function() {
            var modeList = [
                {value:"DAQ",label:"DAQ",hasValue:false},
                {value:"PD",label:"PD",hasValue:false}
            ];       
            var pdCmdList = [
                {value:"SET_DSO_MODE",label:"Set DSO Mode",hasValue:false},
                {value:"SET_MONITOR_CH",label:"Set Monitor Chnannel",hasValue:false},
                {value:"SET_SENSOR_TYPE",label:"Set Sensor Type",hasValue:false},
                {value:"SET_PD_NOISE_RANGE",label:"Set PD Noise Range",hasValue:false},
                {value:"GET_PD_DATA",label:"Get PD Data",hasValue:false},
                {value:"SET_PD_SLOP",label:"Set PD Pulse Slope",hasValue:false},
                {value:"SET_PD_PULSE_WIDTH",label:"Set PD Pulse Width",hasValue:false},
                {value:"SET_MUX_ENABLE",label:"Set MUX Enable",hasValue:false},
                {value:"SET_MUX_CHANNEL",label:"Select MUX Channel",hasValue:false},
                {value:"SET_POWER_CYCLE",label:"Set Power Cycle",hasValue:false},
                {value:"GET_PDM_VERSION",label:"Get PDM Version",hasValue:false},
                {value:"GET_CHANNEL_SETTING",label:"Get Channel Setting",hasValue:false}
            ];
            var daqCmdList = [
                {value:"SET_DSO_MODE",label:"Set DSO Mode",hasValue:false},
                {value:"DAQ_CMD",label:"Run DAQ Command",hasValue:false},
                {value:"GET_DAQ_DATA",label:"Get DAQ Data",hasValue:false},
                {value:"DAQ_CMD_VSCALE",label:"Set DAQ VScale",hasValue:false},
                {value:"SET_MUX_ENABLE",label:"Set MUX Enable",hasValue:false},
                {value:"SET_MUX_CHANNEL",label:"Select MUX Channel",hasValue:false},
                {value:"GET_PDM_VERSION",label:"Get PDM Version",hasValue:false},
                {value:"GET_CHANNEL_SETTING",label:"Get Channel Setting",hasValue:false}              
            ];
            var cmdList;

            $("#node-input-dsoMode").typedInput({
                default: this.dsoMode,
                types:modeList
            });

            if (this.dsoMode === 'PD') {
                cmdList = pdCmdList;
            } else {
                cmdList = daqCmdList;
            }

            $("#node-input-cmd").typedInput({
                default: this.cmd,                
                types:cmdList
            });
          
            $("#node-input-dsoMode").on('change', function(type, value) {
                let mode = $("#node-input-dsoMode").typedInput('type');
                let cmdtype = $("#node-input-cmd").typedInput('type');
                let lists;
                let item;
                
                if (mode === 'DAQ') {
                    lists = daqCmdList;
                } else {
                    lists = pdCmdList;
                }
                item = lists.find((item) => item.value === cmdtype);
                $("#node-input-cmd").typedInput('types',lists);

                if(item) {
                    $("#node-input-cmd").typedInput('type',item.value);  
                } else {
                    console.log('Type :'+cmdtype +' '+ lists[cmdtype]);
                    $("#node-input-cmd").typedInput('type',lists[0].value);
                }

            });
            $("#node-input-cmd").on('change', function(type, value) {
                let cmdtype = $("#node-input-cmd").typedInput('type');
                let lists;

                if (cmdtype === 'SET_DSO_MODE' || cmdtype === 'GET_PD_DATA') {
                    $(".para-item").hide();
                    $(".chnum-item").hide();
                } else if (cmdtype === 'GET_DAQ_DATA') {
                    $(".para-item").hide();
                    $(".chnum-item").show();
                } else {
                    $(".para-item").show();
                    $(".chnum-item").show();                    
                }

            });
        },
        oneditsave: function() {          
            let cmdtype = $("#node-input-cmd").typedInput('type');
            let dsoMode = $("#node-input-dsoMode").typedInput('type');
            $("#node-input-cmd").typedInput('value', cmdtype);
            $("#node-input-dsoMode").typedInput('value', dsoMode);
            $("#node-input-cmd").typedInput('value', cmdtype);
            
            /*
            console.log("-------------");
            console.log("cmd type");
            console.log(cmdtype);
            console.log("cmd value");
            console.log($("#node-input-cmd").typedInput('value'));
            console.log("dsoMode type");
            console.log(dsoMode);            
            console.log("dsoMode value");
            console.log($("#node-input-dsoMode").typedInput('value'));

            console.log("-------------"); 
            */
            this.cmd = $("#node-input-cmd").typedInput('value');
            // this.cmd = cmdtype;
            this.dsoMode = $("#node-input-dsoMode").typedInput('value');
            this.queryID = $("#node-input-queryID").val();
        }        
    });
</script>