<script type="text/x-red" data-help-name="pd-data">
</script>

<script type="text/x-red" data-template-name="pd-data">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-random"></i> Name</label>
        <input type="text" id="node-input-name">
    </div>
    <div class="form-row">
        <label for="node-input-pdDataType"><i class="fa fa-random"></i> Data Type</label>
        <input type="text" id="node-input-pdDataType">
    </div>
</script>

<script type="text/javascript">
    RED.nodes.registerType('pd-data',{
        category: 'partial discharge',
        defaults: {
          pdDataType: {value:"PD",required:true},
          name: {value:""}
        },
        color:"#FFF0F0",
        inputs:1,
        outputs:1,
        icon: "myicon.png",
        label: function() {
            return this.name||"pd-data";
        },
        labelStyle: function() {
            return this.name?"node_label_italic":"";
        },        
        oneditprepare: function() {
            var pdDataTypeList = [ 
              {value:"PD",label:"PD Information",hasValue:false},
              {value:"SCREEN",label:"Screen data",hasValue:false},
              {value:"STRING",label:"String Data",hasValue:false}
            ];

            $("#node-input-pdDataType").typedInput({
                default: this.pdDataType,
                types:pdDataTypeList
            });
        },
        oneditsave: function() {          
            let pdDataType = $("#node-input-pdDataType").typedInput('type');
            $("#node-input-pdDataType").typedInput('value', pdDataType);
            
            this.pdDataType = $("#node-input-pdDataType").typedInput('value');
            
        }        
    });
</script>